<!--The content below is only a placeholder and can be replaced.-->
<style>
  .card-process {
    margin: 20px;
    width: 290px;
    display: inline-block
  }
</style>
<mat-sidenav-container>
<mat-toolbar color="primary">
  <h1>Bonita 2</h1>
</mat-toolbar>
<div style="flex-wrap: wrap;">
    <mat-card class="card-process" style="background-color: #D2E7EF">
      <mat-card-title style="font-size: 19px;text-align: center">Nouveau Collaborateur</mat-card-title>
      <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%" matBadge="4" matBadgePosition="before" matBadgeColor="primary">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process" style="background-color: #FBF6A2">
    <mat-card-title style="font-size: 19px;text-align: center">Mobilite</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="card-process" style="background-color: #FCABDE">
    <mat-card-title style="font-size: 19px;text-align: center">Autre Mouvement</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
            <button mat-raised-button style="width: 100%"  matBadge="5" matBadgePosition="before" matBadgeColor="warn">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process" style="background-color: #baffc9">
    <mat-card-title style="font-size: 19px;text-align: center">Fin de Mission CDD</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process" style="background-color: #ffdfba">
    <mat-card-title style="font-size: 19px;text-align: center">Fin de Mission Interim</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process"  style="background-color: #dfccff">
    <mat-card-title style="font-size: 19px;text-align: center">Nouveau Prestataire</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">
            Liste des demandes
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">
            Nouvelle demande
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process"  style="background-color: #ffcccc">
    <mat-card-title style="font-size: 19px;text-align: center">Renouvellement Prestataire</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">
            Liste des demandes
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">
            Nouvelle demande
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-process"  style="background-color: #fefed2">
    <mat-card-title style="font-size: 19px;text-align: center">Fin de Mission Prestataire</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Liste des demandes</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button style="width:100%">Nouvelle demande</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
</mat-sidenav-container>
